@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 240, 228, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.h-header.is-open .h-header-background {
  left: 0;
}
.h-header-button-wrapper {
  margin-left: auto;
}
.h-header-icon {
  display: none;
}

.h-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.h-navigation-list.is-open {
  right: 0;
}
.h-header-icon-menu {
  display: block;
}

.h-header-icon-button.is-open .h-header-icon-menu {
  display: none;
}

.h-header-icon-button.is-open .h-header-icon-close {
  display: block;
}

.h-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(4, 16, 140, 1);
}

.h-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(4, 16, 140, 1);
}
.h-header.is-open .h-header-background {
  left: 0;
}
.h-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h-header-icon-menu {
  display: block;
}

.h-header-icon-button.is-open .h-header-icon-menu {
  display: none;
}

.h-header-icon-button.is-open .h-header-icon-close {
  display: block;
}

.h-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 16px;
  position: relative;
}

.h-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 607px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 10px;
  background: rgba(4, 16, 140, 1);
}

.h-navigation-list.is-open {
  right: 0;
}

.h-navigation-link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.h-navigation-link:hover,
.h-navigatioт-link:focus {
  color: rgba(240, 16, 65, 1);
}

.h-header.is-open {
  background-color: transparent;
}

.h-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .h-navigation-img {
    display: flex;
  }
  .h-policy-terms-header-icon-menu {
    display: none;
  }

  .h-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .h-header-background {
  }
  .h-header-icon-button {
    display: none;
  }
  .h-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .h-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .h-navigation-link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;

    padding: 0px 20px;
    text-decoration: none;
  }

  .h-navigation-item-desk {
    display: none;
  }
}
.h-home {
  width: 375px;
  height: 379px;
  padding: 76px 15px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 1\ \(1\).png");
  margin: auto;
}

.h-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.h-home-title {
  width: 161.33334350585938px;
  height: 121px;
}

.h-home-text {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(2, 6, 55, 1);
  padding: 10px 150px 20px 0;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

.h-home-google-button-image {
  width: 200px;
  height: 56px;
}

.h-home-google-button-link:hover .h-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .h-home {
    width: 1440px;
    height: 882px;
    padding: 80px 770px 0px 72px;
    background-image: url("/img/home/hero\ pic.png");
  }

  .h-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .h-home-title {
    width: 464px;
    height: 348px;
  }

  .h-home-text {
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    padding: 36px 0 48px;
  }
}
.h-about {
  padding: 0px 15px 0px;
  margin: auto;
  width: 375px;
  height: 897px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url("/img/about.png");
}

.h-about-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  vertical-align: middle;
  -webkit-text-stroke: 2px rgba(10, 27, 205, 1);
  background: linear-gradient(180deg, #fdcc1e 49.9%, #ff983e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h-about-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgba(2, 6, 55, 1);
}

@media screen and (min-width: 1200px) {
  .h-about {
    padding: 0px 72px;
    width: 1440px;
    height: 700px;
    margin-top: 100px;
    background-image: url("/img/about\ us.png");
  }
  .h-about-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 52px;
    letter-spacing: 6%;

    -webkit-text-stroke: 4px rgba(10, 27, 205, 1);
    background: linear-gradient(180deg, #fdcc1e 49.9%, #ff983e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .h-about-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0%;
    width: 636px;
    gap: 20px;
    padding-top: 55px;
    color: rgba(2, 6, 55, 1);
  }
}
.h-how {
  width: 375px;
  margin: auto;
  padding: 45px 0px 55px;
}

.h-how-list {
  padding: 25px 0;
}

.h-how-item {
  width: 375px;
  height: 357px;
  margin: 0 10px;
  background-image: url("/img/review\ mob.png");
  padding: 32px;
}

.h-how-text-bold {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
}

.h-how-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0 24px;
}
.h-how-text-two {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
}
@media screen and (min-width: 1200px) {
  .h-how {
    width: 1440px;
    padding: 100px 72px;
  }

  .h-how-list {
    padding: 0px 0;
  }

  .h-how-item {
    width: 706px;
    height: 345px;
    margin: 0 10px;
    background-image: url("/img/review.png");
    padding: 48px 70px 0 40px;
  }

  .h-how-text-bold {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
  }

  .h-how-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    height: 132px;

    margin: 16px 0 20px;
  }
  .h-how-text-two {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
  }
}

.h-gallery-button-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .h-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  .h-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .h-gallery-button:hover {
    scale: 120%;
  }
}

.h-gallery {
  width: 375px;
  margin: auto;
  padding: 45px 0px;
}

.h-gallery-list {
  padding: 25px 0 0 0px;
}

.h-gallery-item {
  width: 345px;
  height: 614px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.h-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 8px;
  height: 8px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/gallery/Ellipse\ 11.png") no-repeat center/cover;

  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/gallery/Ellipse\ 15.png") no-repeat center/cover;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .h-gallery {
    width: 1440px;
    padding: 100px 0px 0px;
  }
  .slick-dots {
    display: none;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }
  .h-gallery-item {
    width: 406px;
    height: 721.78px;
    margin: 0 10px;
  }

  .h-gallery-list {
    padding: 56px 0 0px;
    height: 800px;
  }
  .h-gallery-list .slick-slide {
    width: 305px;
    height: 547px;
    border-radius: 24px;

    border-radius: 16px;

    transition: transform 0.9s ease-in-out, width 0.9s ease-in-out,
      height 0.9s ease-in-out;
  }

  .h-gallery-list .slick-slide.slick-center {
    width: 416px;
    height: 746px;

    z-index: 2;
  }
  .slick-dots li {
    display: none;
  }
}

.h-features {
  width: 375px;
  margin: auto;
  padding: 45px 0px;
}

.h-features-list {
  padding: 25px 0;
}

.h-features-item {
  margin: 0 5px;
  width: 375px;
  height: 373px;
  padding: 35px 25px;
  background-image: url("/img/features/benefit.png");
}

.h-features-img {
  margin: auto;
}

.h-features-text-bold {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  text-align: center;

  padding: 15px 0;
}

.h-features-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .h-features {
    width: 1440px;
    padding: 120px 72px 0;
  }
  .h-features-list {
    padding: 0;
  }

  .h-features-item {
    margin: 0 15px;
    width: 416px;
    height: 431px;

    padding: 36px 55px;
    background-image: url("/img/features/Component\ benefits.png");
  }

  .h-features-text-bold {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;

    padding: 16px 0;
  }

  .h-features-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
  }
}

.h-policy-terms-container {
  padding: 101px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  color: rgba(2, 6, 55, 1);
}

.h-policy-terms-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;

  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  -webkit-text-stroke: 2px rgba(10, 27, 205, 1);
  background: linear-gradient(180deg, #fdcc1e 49.9%, #ff983e 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h-policy-terms-text {
  padding-top: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
}

.h-policy-terms-texts {
  padding-top: 8px;
}

.h-policy-terms-text-one {
  padding-top: 20px;
}

.h-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.h-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.h-email-link {
  color: inherit;
  text-decoration: none;
}

.h-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .h-policy-terms-container {
    padding: 128px 72px 60px;
    width: 1440px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
  }

  .h-policy-terms-title {
    -webkit-text-stroke: 4px rgba(10, 27, 205, 1);
    font-family: Poppins;
    font-weight: 700;
    font-size: 52px;

    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
  }

  .h-policy-terms-text {
    padding-top: 40px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
  }

  .h-policy-terms-text-one {
    padding-top: 30px;
  }

  .h-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.h-footer {
  width: 375px;
  margin: auto;
  background: rgba(4, 16, 140, 1);

  padding: 28px 23px 15px;
}

.h-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 85px;
}

.h-footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}

.h-footer-text {
  text-decoration: none;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}

.h-footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .h-footer {
    width: 1440px;
    padding: 32px 72px 16px;
  }

  .h-footer-container {
    gap: 104px;
  }

  .h-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 400px;
    padding: 0;
  }

  .h-footer-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
  }

  .h-footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
}

.h-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 15px;
  background: rgba(34, 34, 34, 1);

  z-index: 1000;
  display: none;
}

.h-cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.h-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.h-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);

  width: 196px;
  border-radius: 36px;
  padding: 16px 0;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;

  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

#accept-cookies {
  border: transparent;
  background: rgba(53, 225, 246, 1);
  color: rgba(34, 34, 34, 1);
}

.h-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .h-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h-cookie-popup-text-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;

    width: 745px;
  }

  .h-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .h-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 70px;
    display: none;
  }
}
